@import "reset";
@import "mixin";

h1{
    font-size: 20px;
}

body{
    text-align: center;
}

.preload{
    display: inline-block;
    width: 100px;
}

.container{
    width: 10vw;
    height: 30vw;
    background-color: blue;
}

$colors: red, yellow, blue, green, purple, orange, pink, gray;
.slider{
    position: relative;

    li{
        position: relative;
        width: 100%;
        height: 300px;
        font-size: 5vw;

        @for $i from 1 through length($colors){
            &:nth-child(#{$i}){
                background-color: nth($colors, $i);
            }
        }
    }

    .scroll-wrapper{
        height: 200px;
        overflow: hidden;
    }
    p{
        font-size: 15px;
        text-align: left;
    }

    .navigate{
        position: absolute;
        width: 100px;
        height: 200px;
        background-color: white;
        top: 20px;
        cursor: pointer;
        z-index: 999;

        .inner{
            position: relative;
            top: 50px;
            width: 80px;
            height: 80px;
            background-color: black;
        }

        &.navigate-prev{
            left: 10px;
        }
        &.navigate-next{
            right: 10px;
        }

        &.disabled{
            background-color: gray;
        }
    }
}

.indicator{
    margin: 10px auto;

    li{
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: blue;
        margin: 0 5px;
        cursor: pointer;

        border-radius: 50%;

        &.active{
            background-color: green;
        }
    }
}

.dv{
    transition: background-color 0.3s ease;

    &.dv1{
        height: 100vh;
        background-color: #53D8FB;
    }
    &.dv2{
        height: 400px;
        background-color: #66C3FF;
    }
    &.dv3{
        height: 600px;
        background-color: #DCE1E9;
    }
    &.dv4{
        height: 800px;
        background-color: #D4AFB9;
    }

    &.active{
        background-color: #DB5375;
    }
}
